@model HWBudgetTrackerV1.Models.Household

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetId)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.UserId)*@
            Household Members
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
            @foreach (var users in Model.Users)
           {
            <p>@users.DisplayName </p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>

    </dl>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FinancialAccounts.FirstOrDefault().HouseholdId)                   
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinancialAccounts.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinancialAccounts.FirstOrDefault().Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinancialAccounts.FirstOrDefault().ReconciledBalance)
                </th>
                
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FinancialAccounts.Count() == 0)
            {
                <tr>
                    <td>
                        No Bank Accounts yet, feel free to add one.
                    </td>
                </tr>
            }
            @foreach (var item in Model.FinancialAccounts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Household.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReconciledBalance)
                    </td>
                  
                  

                    @*<td>
                        <div> @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)|</div>
                                <div>
                                    @Html.ActionLink("Edit Ticket ", "Edit", "Tickets", new { id = item.Id }, null) |
                                </div>
                                <div>
                                    @Html.ActionLink("Delete Ticket", "Delete", "Tickets", new { id = item.Id }, null)
                                </div>
                    </td>*@
                </tr>
                            }



        </tbody>
    </table>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add an Account", "Create", "FinancialAccounts", new { HouseholdId = Model.Id }, null) I
</p>
